@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
}

.wraper {
  width: 1600px;
  height: auto;
  margin: auto;
  font-family: "Roboto";
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 90%;
}


.menu button {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #bcbdbb;
  outline: none;
  background-color: white;
  border: none;
  padding-left: 120px;
  
}

 
.button_sing button {
  border: none;
  background-color: white;
}

.line {
  padding-left: 120px;
  margin-top: -9px;
}


h1{
    color:#59BE29 ;
    font-size: 121px;
    font-weight:600 ;
    font-style: normal;
    width: 90%;

}

.info h3{
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    color: #0A1902;
     margin-bottom: -70px;
}

.fruit_message p{
    width: 90%;
    color:#bcbdbb; 
    margin-top: -30px;
    line-height: 30px;
   
}

.imag_quaritsch img{
    position: absolute;
    padding-top: 70px;
    margin-left: 120px;
    

}

.imag_ant1 img{
    position: absolute;
    padding-top: 280px;
    margin-left: 180px;
}


.imag_ant2 img{
    position: absolute;
    padding-top: 120px;
    margin-left: 600px;
}


.fresh_fruit{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 10%;
    padding-left: 180px;
}

.button_add_laern button{
    background-color: white;
    border: none;
}


.healthy_snack {
 display: flex;
 justify-content: space-between;
 padding-top: 100px;
 
    
}


.imag-fruit {
    padding-top: 50px;
}

.snack_message {
  padding-left: 340px;
}

.snack_message p {
    width: 70%;
    color:#bcbdbb; 
    margin-top: -30px;
    line-height: 30px;
}

.snack_message h2{
    font-size: 49px;
    font-weight: 600;
    font-style: normal;
    color: #0A1902;
    width: 70%;

}

.leaves img {
    position: absolute;
    padding-left: 330px;
    margin-top: -90px;

}


.information_clients{
    display: flex;
   flex-wrap: wrap;
  
 
   
}



.global{
    padding-top:  30px;
    padding-right: 60px;
  

}


.round{
    padding-top: 20px;
    
}

.number{
    width: 73px;
    height: 73px;
    background: #f9fcff;
    border-radius: 50%;
   
   
    
}

.number p{
    font-size: 35px;
    font-weight: 700;
    font-style: normal;
    color: #82CD5E;
    padding-top: 20px;
    padding-left: 25px;
}

.franchises p{
    font-size: 49px;
    font-weight: 700;
    font-style: normal;
    color: #82CD5E;
    padding-left: 100px;
    margin-top: -85px;
}

.global_franchises p{
    color:#bcbdbb; 
    font-size: 18px;
   font-weight: 500;
   font-style: normal;
   padding-top: 20px;
   padding-left: 90px;
   
}

.line_clients img{
    position: absolute;
   margin-top: -20px;
   padding-left: 90px;

}

.our_goal{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-left: 180px;
}



.info_delivery h3{
    font-size: 49px;
    font-weight: 600;
    font-style: normal;
    color: #0A1902;
    width: 60%;
}  

.info_delivery p {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #bcbdbb; 
    width: 65%;
}

    
.delivery{
  
    padding-right: 220px;
}

.delivery_mesag{
    padding-left: 100px;
   margin-top: -120px;
}

.delivery_mesag h4{
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    color: #0A1902;

}


.delivery_mesag p{
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #bcbdbb; 

}

.fruit{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin: auto;
  
   
    
}


.fruit img{
    margin: 40px;
}


.fruit_add{
    width: 362px;
    height: 572px;
    align-items: center;
    text-align: center;

    
}


.fruit_add p{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #bcbdbb; 

}


.fruit_add h4{
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    color: #0A1902;

}

.add_to_cart{
    display: flex;
    justify-content: space-around;
   
}

.subscription{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 360px;
    padding-left: 140px;
    padding-top: 100px;
   
}

.subscription_message p{
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #bcbdbb; 
    width: 53%;
    margin-top: -30px;

}

.subscription_message h3{
    font-size: 49px;
    font-weight: 700;
    font-style: normal;
    color: #0A1902;

}


.input button{
    align-items: center;
    background-color: white;
    border: none;
    padding-top: 25px;
    
}

.input input{
    width: 258px;
    height: 59px;
    border-radius: 10px;
    font-size: 18px;
    color: #bcbdbb; 
    
}

.input{
    display: flex;
    align-items: center;
}

.contact_footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.line_footer{
   padding-top: 50px;
    padding-left: 180px;
    padding-bottom: 100px;
}

.contact_footer h4{
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    color: #0A1902; 
    


}


.logo_footer p{

    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #bcbdbb; 
    width: 39%;

}

.company ul{
    list-style: none;
}

.news ul{
    list-style: none;
}


.company button{
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #bcbdbb; 
  
}



.news button{
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #bcbdbb; 
  
}

.socials img{
    padding-right: 35px;
}